*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-135deg,#F0F0F0,#D9E9CF);
}
.container{
    background: #fff;
    width: 300px;
    padding: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}
.input-group{
    margin: 20px;
}
.error{
    color: red;
    font-size: 12px;
}
button{
    margin-left: 20px;
    background: linear-gradient(-135deg,#B6CEB4,#96A78D);
    font-size: 15px;
    border-radius: 10px;
    padding: 3px;
}
.container h2{
    margin-left: 20px;
}
