*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-135deg,rgb(230, 204, 236),rgb(125, 125, 225));
    color: #fff;
    padding-left: 10%;
    padding-top: 10%;

}
.container h1{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 23px;
    margin-right: 8px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(15deg,rgb(152, 53, 218),rgb(46, 42, 126));
    color: #fff;
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 5px 8px;
    border-radius: 30px;
    margin: 20px 0 10px 0;
    cursor: pointer;
}
.input-box{
    position: relative;
    background: #fff;
    max-width: 500px;
    min-height: 150px;
    padding: 20px;
    margin: 20px 20px 20px 0;
    outline: 0;
    border-radius: 5px;
    color: rgb(39, 38, 38);
}

.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
}

